@import "swiper/css" layer(base);
@import "swiper/css/navigation" layer(base);
@import "swiper/css/pagination" layer(base);
@import "swiper/css/a11y" layer(base);

@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --color-nadeshiko-50: #fffcfd;
  --color-nadeshiko-100: #fff7fa;
  --color-nadeshiko-200: #fff0f5;
  --color-nadeshiko-300: #fddce6;
  --color-nadeshiko-400: #fccada;
  --color-nadeshiko-500: #fcb9ce;
  --color-nadeshiko-600: #fa9dbb;
  --color-nadeshiko-700: #f783aa;
  --color-nadeshiko-800: #f26894;
  --color-nadeshiko-900: #ed4f81;
  --color-nadeshiko-950: #d63668;

  --font-sans:
    ui-sans-serif, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@layer base {
  :root {
    --header-height: 3.5rem;
  }

  :focus,
  :focus-visible {
    @apply outline-none;
  }

  :where(:focus-visible) {
    @apply ring-nadeshiko-700 ring-3 ring-offset-1;
  }
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
