# 今日の高嶺のなでしこの予定を Twitter にポストする。
name: Post Today's Takaneko

on:
  # 日本時間の毎朝 7 時に実行
  schedule:
    - cron: "0 22 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install

      - name: Post
        run: |
          pnpm tsx ./scripts/todays_takaneko.ts
        env:
          IFTTT_WEBHOOK_KEY: ${{ secrets.IFTTT_WEBHOOK_KEY }}
          TZ: Asia/Tokyo
